<link rel="stylesheet" type="text/css" href="/stylesheets/style_edit.css" />
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/style.css" th:href="@{/css/style.css}" /> <!-- подключаем файл стилей --> <!-- подключаем файл стилей -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/edit_style.css" th:href="@{/css/edit_style.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Анализ текста</title>
</head>
<body>
<div th:insert="blocks/header :: header"></div>

    <div class="container">
        <h4>Редактирование ключевого слова </h4>
        <div th:each="el: ${keywords}">
        <form class="form-horizontal"  method="post">
            <input type="text" class="form-control" id="exampleInputWord" placeholder="Введите ключевое слово" name='descriptionKeyword'
                   th:value="${ el.descriptionKeyword }">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a class="btn btn-primary" href="../../" role="button">Отмена</a>
            </div>
        </form>
        </div>
    </div>

<div th:insert="blocks/footer :: footer"></div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>