<link rel="stylesheet" type="text/css" href="/stylesheets/style_analyses2document.css" />
<div class="container-fluid">

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <p><h5>Выберите учебный материал</h5><select name="list1">
                <option>Выберите из списка</option>
                <option>Математика</option>
                <option>География</option>
                <option>Английский язык</option>
                <option>Мат.анализ</option>
               </select></p>
              <p><h5>Выберите тему учебника</h5><select name="list2">
                <option>Выберите тему</option>
                <option>Интегрирование</option>
                <option>Дифференцирование</option>
               </select></p>
              <h5 class="card-title text-left">Ключевые слова:</h5>
              <div class="table-responsive">
                <table class="table table-bordered text-left">
                  <tbody>
                    <tr>
                      <td>Слово1</td>
                    </tr>
                    <tr>
                      </td>
                      <td>Слово2</td>
                    </tr>
                    <tr>
                      </td>
                      <td>Слово3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a class="btn btn-primary" href="../pages/analyses2document.html" role="button">Скрыть ключевые слова</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <p><h5>Выберите учебный материал</h5><select name="list1">
                <option>Выберите из списка</option>
                <option>Математика</option>
                <option>География</option>
                <option>Английский язык</option>
                <option>Мат.анализ</option>
               </select></p>
              <p><h5>Выберите тему учебника</h5><select name="list2">
                <option>Выберите тему</option>
                <option>Интегрирование</option>
                <option>Дифференцирование</option>
               </select></p>
              <a class="btn btn-primary" href="../pages/analyses2document.html" role="button">Показать ключевые слова</a>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm">
          <div class="card">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Рассчитать совместимость
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Результат анализа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Совместимость учебных материалов 85%.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Готово</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
