<link rel="stylesheet" type="text/css" href="/stylesheets/style_registration.css" />

<div class="text-center">
  <form class="form-signin" method="POST" action="/addUser">
        <img class="mb-4" src="../images/img_avatar.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

        <label for="inputEmail" class="sr-only">Введите ваш email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword"  class="sr-only">Введите пароль</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
        <label for="inputPasswordRepeat" class="sr-only">Повторите пароль</label>
        <input type="password" name="passwordConfirm" id="inputPasswordRepeat" class="form-control" placeholder="Повторите пароль" required>
        <span id="message"></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
        <div class="container signin">
          <p>Уже есть аккаунт? <a href="/authorization" >Войти</a>.</p>
        </div>
  </form>
</div>
